@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Exemplo de instalação e configuração do Hangfire na aplicação com autenticação para acesso ao Dashboard via claims e policy.</p>
</div>
